<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мій Портфоліо</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>Привіт, я Шепель Микола</h1>
        <p>Я програміст з великим бажанням створювати нові речі та вирішувати складні завдання.</p>
    </header>
    <div class="container">
        <section id="about-me">
            <h2>Про мене</h2>
            <p>Мене звати Микола. Я студент коледжу з великим інтересом до програмування та розробки веб-додатків.</p>
        </section>
        <section id="education">
            <h2>Навчання</h2>
            <p>Рівненський фаховий коледж інформаційних технологій 2020-2024рр.</p>
        </section>
        <section id="projects">
            <h2>Мої проекти</h2>
            <p>Тут наведено деякі з моїх проектів:</p>
            <ul>
                <li><a href="project1">Tower defense</a></li>
                <li><a href="project2">GitHub Portfolio</a></li>
            </ul>
        </section>
        <section id="contact">
            <h2>Контакт</h2>
            <p>Зв'яжіться зі мною:</p>
            <ul>
                <li>Email: <a href="mailto:mshepel@rcit.ukr.education">mshepel@rcit.ukr.education</a></li>
                <li>Телефон: +380932821479</li>
            </ul>
        </section>
    </div>
</body>
</html>
