<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мій Портфоліо</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>Привіт, я Ім'я Прізвище</h1>
        <p>Я програміст з великим бажанням створювати нові речі та вирішувати складні завдання.</p>
    </header>
    <div class="container">
        <section id="about-me">
            <h2>Про мене</h2>
            <p>Мене звати Ім'я Прізвище. Я випускник університету з великим інтересом до програмування та розробки веб-додатків.</p>
        </section>
        <section id="education">
            <h2>Освіта</h2>
            <p>Магістр інформатики, Університет Київська Політехніка</p>
        </section>
        <section id="projects">
            <h2>Мої проекти</h2>
            <p>Тут наведено деякі з моїх проектів:</p>
            <ul>
                <li><a href="#">Проект 1</a> - Опис проекту 1.</li>
                <li><a href="#">Проект 2</a> - Опис проекту 2.</li>
                <li><a href="#">Проект 3</a> - Опис проекту 3.</li>
            </ul>
        </section>
        <section id="contact">
            <h2>Контакт</h2>
            <p>Зв'яжіться зі мною:</p>
            <ul>
                <li>Email: example@example.com</li>
                <li>Телефон: +1234567890</li>
            </ul>
        </section>
    </div>
</body>
</html>
