<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Назва проекту</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Назва проекту {{ project_id }}</h1>
    </header>
    <main>
        <img src="{{ url_for('static', filename='project_image.jpg') }}" alt="Зображення проекту">
        <p>Технології: Технології, що використовувались</p>
        <p><a href="https://github.com/repository">Посилання на репозиторій</a></p>
    </main>
</body>
</html>
